//- main page
mixin fileFormat
    .
        #[span.fileName 檔名.ppt]#[br]
        最後更新: #[span.updateTime 2021.12.30 AM 11:20]#[br]
        #[a(href="" download="") 下載檔案]


mixin missionList
    h2 《任務案件總覽》
        a(href="mission-list.html") 
            button(type="button")
                <i class="fa-solid fa-pen"></i>
                |編輯
    table.list-by-index(border="1")
        thead 
            th(colspan="8") 任務列表(新到舊排序)
            tr
                th 編號
                th 交辦主管
                th 任務標題
                th 擔當
                th 交辦日期
                th 需求日期
                th 備註
                th 附件
        tbody
            tr
                td(colspan="8").table-data No matching records found

    .controller 
        button.index_backward
            <i class="fa-solid fa-chevron-left"></i>
            |前10筆
        button.index_forward
            |後10筆
            <i class="fa-solid fa-chevron-right"></i>

//- working-report page

mixin report_inputRow(id)
    .row
        span= id
        input#daily-point(type="text" name="daily-point" placeholder='...')
        input#report(type="text" name="report" placeholder='...')


mixin cancel-confirm_btns
    .confirm_btns
        button(type="button").cancel 放棄修改
        button(type="button").confirm 立即儲存


//-  mission page

mixin backToListBtn
    section.back_btn
        button(type="button") 返回列表



mixin missionUpdate(id)
    tr.mission-list
        td.id= id
        td.title 
            input#mission_title(type="text" name="mission_title" placeholder='...')
        td.content
            input#mission_content(type="text" name="content" placeholder='...')
        td.PS
            textarea#mission_PS(name="PS" cols="30" rows="1" placeholder='...')
        td.date 
            input#mission_date(type="text" name="date" onfocus="(this.type='date')" onblur="(this.type='text')")
        td.state
            span 未完成
            .stateIcon
                .dot
        td.attach
            button 查看
        td.order
            <i class="fa-solid fa-bars"></i>

mixin attachItem(id)
    .file 
        .id= id
        .preview
            <i class="fa-regular fa-file-image"></i>
            .cancel
                <i class="fa-solid fa-xmark"></i>
            .upload
                <i class="fa-solid fa-chevron-up"></i>
        .name 自動帶入.jpg

mixin fileHistory 
    li 
        p
            |版本
            span 2022.10.17 AM 10:00
        a(href="#" download='cat.png') 下載


mixin goal_year(year , chn)
    .year
        label(for=`goal_${year}`) #{chn}預算：
        input(id=`goal_${year}` type="text", name=`${year}` placeholder='請填入目標金額...' value='2,210,962')

mixin goal_place(chn,en)
    .place 
        p.name #{chn}：
        input(id=`goal_${en}` type="text", name=`goal_${en}` placeholder='請填入目標金額...')
        input(id=`work-on_${en}` type="text" name=`work_on_${en}` placeholder='請填入目標金額...')




mixin select_month 
    select#month(name="month")
        option(value="Jan" selected) 一月  
        option(value="Feb") 二月  
        option(value="Mar") 三月  
        option(value="Apr") 四月  
        option(value="May") 五月  
        option(value="Jun") 六月  
        option(value="Jul") 七月  
        option(value="Aug") 八月  
        option(value="Sep") 九月  
        option(value="Oct") 十月  
        option(value="Nov") 十一月  
        option(value="Dec") 十二月  